.header {
	background-color: gold;
	margin: 0;
	padding: 0;
}

.header h1 {
	padding-top: 20px;
}

.header p {
	padding-bottom: 20px;
}

.container {
	width: 100%;
	margin: 0;
	padding: 0;
}

.card {
  border: 1px solid gold;
  margin-bottom: 20px;
}

.card img {
	width: 100%;
}

.card h1, p {
	font-size: 1em;
	margin: 20px;
}

